###### Requirements without Version Specifiers ######

#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
optuna >= 4.1.0
optunahub >= 0.1.0

###### External Requirements ######
https://hub.optuna.org/samplers/auto_sampler/requirements.txt
